@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
    /*Colors*/
    --title:#046d8b;
    --title2:#19b5a5/*#7305C8*/;
    --texto:#130539;
    --texto2:#0DAFBF;
    --menu:#40223c;
    --head:#B8B2BD/*#FBF9FC*/;
    /*Fonts*/
    --texts: 'Didact Gothic', sans-serif;
    /*Fonts-sizes*/
    --extraSmall:0.93rem;
    --small:1rem;
    --btn:1.12rem;
    --medium:1.25rem;
    --large:1.4rem;
    --extraLarge:1.56rem;
    --titleMedium:1.87rem;
    --titleLarge:2.5rem;
}


body{
    box-sizing: 0px;
    padding: 0px;
    margin: 0px;
    font-family: var(--texts); 
    letter-spacing: 1.5px;
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--texto2);
    opacity: 3;
    width: 100%;
    height: 6.25rem;
}
.menu{
    width: 100%;
}
.menu ul{
    display: flex;
    width: 100%;
    gap:1.5rem;  
    padding-left: 4rem;
}
.menu li{
    list-style-type: none;
    font-size: var(--medium);
    color: var(--menu);
}

/*Pages Text*/
.title{
    display: flex;
    width: 30rem;
    justify-content: center;
    align-items:center;
    color: var(--title);
    font-size: var(--titleLarge);
}
h2{
    font-family: var(--texts) ;
    font-size: var(--extraLarge);
    color: var(--title);
}
h3{
    font-family: var(--texts) ;
    color: var(--title);
    font-size: var(--titleMedium);
}
h4{
    font-size: var(--small);
    text-align: center;
    position: relative;
    bottom: -3.5rem;
}
a{
    text-decoration: none;
    color: var(--menu);
}
a:hover{
    color: white;
}

article,h4,h3,h2{
    cursor: pointer;
}
p{
    color:var(--texto) ;
    text-align: center;
    font-family: var(--texts);
    line-height: 1.6;
}

img{
    border-radius: 10px;
    width: 21.87rem;
    height: 18.75rem;
    margin: auto;
}
.page-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beginning{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 28.12rem;
    padding: .62rem 0px;
}
.start-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-bottom: 2.75rem;
    font-size: var(--medium);
}

.h3-About{
    position: relative;
    left: 25.5rem;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0px 6px 0px var(--menu);
    padding: .93rem 1.56rem;
    box-sizing: border-box;
    border-radius: .5rem;
}
.container-about-me{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 4rem;
    padding: .93rem 0;
}
.me{
    width: 20.5rem;
    height: 24rem;
    position: relative;
    bottom: .37rem;
    right: 1.37rem;
}
.text-aboutMe{
    width:70%;
    text-align: justify;
    padding: 1.25rem 0 .93rem 1.87rem;
    line-height: 2rem;
    font-size: var(--medium);
}
.h3-Skills{
    position: relative;
    bottom: 1rem;
    left: 2rem;
    width: 11rem;
}

.skills-tools {
    width: 55rem;
}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 45px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.container-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 63rem;
    height: 200px;
    background-color: var(--texto2);
    box-shadow: -1px 0px 6px 0px white;
    border-radius: 8px;
    margin-top: 50px;
}
.working{
    position: relative;
    left: 17rem;
    width: 21rem;
    height: 12rem;
}
 .networks{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 10px;
    margin:0 20px;
 }
 .networks:hover {
    transform:scale(1.2);
    gap:30px
}
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}
.h3-project{
    position: relative;
    width: 9rem;
    height: 3rem;
}
.h3project{
    position: relative;
    right: 14.5rem;
    bottom: 7rem;
}
.h2-calculator{
    position: relative;
    left: 2rem;
    bottom: 4rem;
}
.h2-ppp{
    position: relative;
    left: 16rem;
    bottom: 4rem;
}
.h2-mokepon{
    position: relative;
    left: 20rem;
    bottom: 4.5rem;
}
.h2-marelyn{
    position: relative;
    left: 3rem;
    bottom: 4.5rem;

}
.container-project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.25rem 5rem;
    width: 100%;
    margin-top: -3.93rem;
    padding-top: 5rem;
}

.container-project > .feature {
    grid-column-end: span 2 ;
}
.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20.62rem; 
    box-shadow: -1px 0px 6px 0px var(--title2);
    box-sizing: border-box;
    border-radius: .5rem;
}

.project:hover{
    background-color: var(--menu);
} 


.box-1{
    position: relative;
    left: 3rem;
    top: -1.5rem;
    width: 82%;
}
.box-2{
    position: relative;
    width: 100%;
    left: 7rem;
    bottom: 2rem;
}

.box-3{
    position: relative;
    width: 100%;
    left: 9rem;
    bottom: 2.5rem;
}
.box-4{
    position: relative;
    top: 8rem;
    left: 1.5rem;
    font-size: var(--extraSmall)
}
.box-5{
    position: relative;
    width: 90%;
    bottom: 0.5rem;
    left: 2.5rem;
    color: red;
}

.box-5:hover span{
    color: red;
}
.project:hover span{
    color: white;
 } 
.img-project{
    width: 318.75rem;
    height: 12.5rem;
    border-radius: .5rem;
}
#calculator{
    position: relative;
    width: 11rem;
    bottom: 3rem;
}
#ppp{    
    position: relative;
    width: 100%;
    height: 14rem;
    bottom: 4.6rem;
}
#mokepon{
    position: relative;
    width: 100%;
    height: 14rem;
    bottom: 4.6rem;
}
#marelyn{
    position: relative;
    width: 100%;
    height: 11rem;
    bottom: 6rem;
}
/

.tools{
    width: 2.18rem;
    height: 2.18rem;
}
.btn{
    display: flex;
    cursor: pointer;
    width: 16rem;
    height: 3.12rem;
    background-color:var(--menu);
    border-radius: 1.5rem;
    border: none;
    padding-top: 1.3rem;
    justify-content: center;
    align-items: center;
    font-size:var(--btn) ;
}
.container-btn{
    display: flex;
    width: 100%;
}
.btn:hover{
    box-shadow: -1px 0px 6px 0px var(--title2);
    background-color: transparent;
}
.btn span{
    width: 16rem;
    height: 50px;
    font-family: var(--texts);
    text-align: center;
    letter-spacing: 2px;
    color: white;
    padding: 0 10px;
}
.btn:hover span{
    color: var(--title);
}
.btn svg {
    padding: 0 5px;
    position: relative;
    bottom: 0.23rem;
}
.btn:hover  svg path{
    fill: black;
}

.main-container-btn{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 5.5rem 0;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    justify-content: center;
    align-items: center;
    background-color: var(--texto2);
    color: white;
   padding: 20px 0 ;
}
.h3-Contact{
    text-align: center;
    padding-bottom: 2rem;
    color: white;
}
.container-contact{
    width: 31.25;
    height: 18.75;
}
.contact-network{
    width: 50px;
    height:50px ;
}



@media screen and (max-width: 768px) {

  }
  
  @media screen and (max-width: 480px) {